</div>
<div class="toast-container" id="toastContainer"></div>
<script src="/js/common.js"></script>
<% if (typeof pageScript !== "undefined" && pageScript) { %>
<script src="/js/<%= pageScript %>.js"></script>
<% } %>
</body>
</html>
